.component {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 40px;
  margin-block: 40px;

  .button {
    opacity: 0.9;
    border: 0;
    border-radius: 6px;
    padding: 12px 32px;
    font-weight: 800;
    background-color: var(--accent-color);
    color: var(--white);

    &:hover {
      opacity: 1;
    }
  }

  .circle,
  .path {
    fill: transparent;
    stroke: var(--accent-color);
    stroke-width: 8px;
    stroke-dasharray: 1;
    stroke-dashoffset: 0; /* 애니메이션 값 변경: 0 → 1 */
    stroke-linecap: round;
    stroke-linejoin: round;
    visibility: visible; /* SVG 도형을 감추려면 hidden */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .circle {
    transform-origin: 100px 100px;
    rotate: -90deg;
  }
}