.component {
  scroll-snap-align: start;
  user-select: none;
  overflow: hidden;
  position: relative;

  block-size: 100%;
  inline-size: 100%;

  display: flex;
  align-items: center;

  img {
    object-fit: fill;
  }

  .text {
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 60px;
    margin: 0;
    font-size: 7vw;
    font-weight: 400;
    font-family: "Arial";
    letter-spacing: -0.3px;
    line-height: 1;
    color: #fff;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.65);
  }
}