.component {
  --ratio: 3;

  display: block;
  block-size: 20px;
  aspect-ratio: var(--ratio) / 1;
  border-radius: var(--rounded-full);
  border: none;
  padding: 6px;
  border: 3px solid var(--accent-color);
  background: transparent;
  cursor: pointer;
  box-sizing: content-box;
  outline-offset: 6px;
  transition: inherit;

  .ball {
    display: block;
    height: 100%;
    aspect-ratio: 1 / 1;
    background: var(--accent-color);
    border-radius: var(--rounded-full);
    transition: background 0.3s ease-in-out;
  }
}