.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  border-radius: var(--rounded-sm);
  border: 3px solid var(--accent-color);
  padding: 40px;

  &:hover {
    background-color: rgba(69 15 191 / 10%);
  }

  p {
    color: rgba(20 2 62 / 50%);
    font-weight: 800;
  }
}

.label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: var(--accent-color);
}